body{

  background-color: black;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}
body > div.game-container{
  margin: 0 auto;
}
.game-container{
  left: 220px;
  position: absolute;
  background-image: url("https://media.giphy.com/media/lpW86y2SlfhFv6KZH9/giphy.gif");
  background-size: cover;
  width: 1000px;
  height: 650px;
  text-align: center;
  box-shadow: 0 1px 32px white;
  top: 30px;
}

.game-container .playGame h1 span{

  font-family: arcadeClassic;
  position: absolute;
  cursor: pointer;
  left: 295px;
  color: black;
  font-size: 58px;
  /* z-index: 15; */
  display: block;
}

.score{
  margin-left: 40px;
  position: absolute;
  font-family: arcadeClassic;
  color: white;
}

.welcome{
  background-image: url("https://media.giphy.com/media/nIlgTxY29wJuU/giphy.gif");
  width: 1000px;
  height: 650px;
  position: relative;
background-size: contain;
background-repeat: no-repeat;
visibility: visible;
  /* background-size: cover; */
  z-index: 3;
}

.points p{
  font-family: arcadeClassic;
  color: black;
  font-size: 30px;
  position:absolute;
  left: 270px;
  top: 50px;
  /* z-index: 15; */
  display: inlineblock;
}
.cell{
  margin: 0 auto;
  width: 30px;
  height: 30px;
  display: inline-block;
  /* border: 2px solid white */
  /* visibility: hidden; */
}

#startScreen {

  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  /* z-index: 10; */
  /* right: 37%;
  top: 25%; */
  width: 800px;
  height: 650px;
  background-color: black;
  color: #333;
  text-align: center;
  /* border: 8px solid; */
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
}
.goodGuy{
    background-image: url('../images/hero.png');
    position: relative;
    display: inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
    /* background-color: red;
    width: 30px;
    height: 30px; */
  /* animation: slide 2s linear; */
}

.badGuy{
 /* width: 50px;
 height: 50px; */
 width: 30px;
 height: 30px;
 display: inline-block;
  background-image: url('../images/invader.png');
  background-size: cover;

}

.bullet{
  background-image: url('../images/laserBlue01.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.enemyBullet{
  width: 9px;
  height: 20px;
  background color: white;
}

.unhidden{
  visibility: hidden;
}

@font-face {
  font-family: arcadeClassic;
  src: url('../fonts/ARCADECLASSIC.TTF');
}

header > img{

  width: 400px;
  position: absolute;
  z-index: 1;
}

/* @keyframes slide {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: 50%;
    left: 50%;
  }

  100% {
    top: -30%;
    left: 80%;
  }
} */
